.auth-container{
    background-image: url(./assets/auth-bg.png);
    background-size: cover;
    background-position: center center;
};

.bg-overlay{
background-color: #2F8C60
63%
#000000
62.37%;
}

